{% extends 'base.html.twig' %}

{% block title %}Project|Index{% endblock %}
{% block main %}
<div class="flex justify-between items-center mb-4">
    <div class="flex-1">
        <a href="" class="mr-4 border-b-2 border-red-500 py-1 text-red-500">All projects ({{projects|length }})</a>
        <a href="" class="mr-4">In Progress</a>
        <a href="" class="mr-4">Completed</a>
    </div>
    <a href="/new" class="bg-red-400 px-4 py-2 rounded-sm hover:bg-red-300 text-white">Create Project</a>
</div>
    {% if projects %}

    <div class="w-full h-full flex space-x-10 flex-wrap">
        {% for project in projects %}
            <div class="bg-white rounded-sm p-4" style="width: 300px; height: 300px">
                <h3>{{ project.title }}</h3>
                <p>{{ project.description }}</p>
            </div>
        {% endfor %}
    </div>
        {% else %}
        <div class="w-full h-full">
            <p>No project exists yet</p>
        </div>
    {% endif %}
{% endblock %}

