<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('tailwind') }}
        {% endblock %}
    </head>
    <body class="bg-gray-100 flex flex h-screen text-gray-600 antialiased">
    {% set path = app.request.pathInfo %}
    {#Sidebar start#}
    <div class="w-1/5 bg-gray-700 flex-none text-white">
        <div class="mt-24 py-3 px-5 hover:bg-gray hover:text-gray-600 uppercase
        {% if path=="/test" %} bg-gray-100 text-gray-600 {% endif %}"
        >
            <a href="/">Dashboard</a>
        </div>
        <div class="py-3 px-5 hover:text-red-500 uppercase">
            <a href="/" class="w-100">My Projects</a>
        </div>
        <div class="py-3 px-5 hover:text-red-500 uppercase">
            <a href="/">Settings</a>
        </div>
        <div class="py-3 px-5 hover:text-red-500 uppercase">
            <a href="/">Logout</a>
        </div>
    </div>
    {#Sidebar end#}
    {#Main Content starts#}
    <div class="flex-1 h-full rounded-md overflow-hidden">
        {#Header start#}
       <div class="px-4 py-4 bg-white shadow-sm flex justify-between items-center">
           {#Search Box start#}
           <div class=" w-4/12">
               <input type="text"
                      placeholder="Search project"
                      class="bg-gray-100 py-1 px-2 rounded-md
                      focus:outline-none focus:ring
                      focus:border-blue-300
                      text-sm
                        w-full">
           </div>
           {#Search Box end#}
           <a href="{{ path("app_login") }}">Login</a>
            {#Avatar start#}
           <div class="rounded-full h-10 w-10 flex items-center justify-center bg-red-400">
               HJ
           </div>
               {#Avatar End#}
           {#Header Ends#}
       </div>
        {#Body starts#}
        <div class="mt-6 h-full ml-6 px-10">
        {% block main %}{% endblock %}
        </div>
        {#Body Ends#}
    </div>
    {#Main Content Ends#}

        {% block javascripts %}{% endblock %}
    </body>
</html>
